@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.User>

@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<br/>
<br/>
<div>
    <div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="search" name="searchName" placeholder="User Name" class="form-control" value="@Request["searchName"]" />
            </div>
            <input type="submit" value="Search" class="btn btn-info" />
        </form>
    </div>
    <h3>List of users</h3>

    <div class="col-md-8 col-md-offset-2">
        @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Id).Titled("ID");
        columns.Add(c => c.UserName).Titled("User Name");
        columns.Add().Titled("Roles").RenderValueAs(c => string.Join(",", c.Roles.Select(x => x.Role.Name).AsEnumerable()));
    }).WithPaging(10).Sortable(true)
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".grid-mvc table tbody").delegate('tr', 'click', function () {
            location.href = '/Account/Edit/' + $(this).find('td:first').text();
        });
    });
</script>
