@model IEnumerable<Nivarc.Models.patientmedication>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4>Patient Medictions</h4>
    </div>
</body>
</html>
