@model IEnumerable<Nivarc.Models.visit>
@using GridMvc.Html
@using Nivarc.Models

    <div>
    <ol class="breadcrumb">
        <li><a href="../">Home</a></li>
        <li class="active">E.H.R</li>
    </ol>
    <legend>Patient Visits & Notes</legend>
    <div class="form-actions no-color">
        <div class="controls">
            <button id="btnCreateVisit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVisitHolder">Add a Visit</button>
        </div>
    </div>
        @foreach (visit vst in Model.Reverse())
        {
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><b>Visit Facility: </b>@vst.medicalfacility.FacilityName</span><br />
                    <span><b>Visit Purpose: </b>@vst.visittype.Description [@vst.StartDateTime.ToShortDateString()]</span>
                </div>
                <div class="panel-body">
                    @Html.Grid(vst.medicalencounters).Columns(columns =>
                    {
                        columns.Add(c => c.Id).Titled("ID");
                        columns.Add(c => c.medicalencountertype.Description).Titled("Type").Filterable(true);
                        columns.Add(c => c.medicalencounterpurpose.Description).Titled("Purpose").Filterable(true);
                        columns.Add(c => c.patientproblem.problem.SnoMedCode).Titled("Problem").Filterable(true);
                        columns.Add(c => c.patientproblem.OnsetDate).Titled("OnSet Date").Format("{0:dd-MMM-yyyy}");
                        columns.Add(c => c.Notes).Titled("Notes").Filterable(true);

                    }).WithPaging(10).Sortable(true)
                </div>
            </div>
        }
</div>
<script type="text/javascript">
    $(function () {
        $("#btnCreateVisit").click(function () {
            $.get('/Patient/CreateVisit/@this.ViewContext.RouteData.Values["id"]', function (template) {
                $("#createVisitHolder").append(template);
            });
        });
    });
</script>
