@model IEnumerable<Nivarc.Models.patientproblem>
@using GridMvc.Html

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4>Patient Problems</h4>
        <div>
            @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.Id).Titled("ID");
                        columns.Add(c => c.problem.SnoMedCode).Titled("Problem Code").Filterable(true);
                        columns.Add(c => c.OnsetDate).Titled("OnSet Date").Format("{0:dd-MMM-yyyy}");
                    }).WithPaging(10)
            </div>
    </div>
</body>
</html>
