@model IEnumerable<Nivarc.Models.patientproblem>
@using GridMvc.Html

    <div>
        <div id="addPatientProblemBtnHolder" class="form-actions no-color">
            <div class="controls">
                <a href="#" id="addPatientProblem" class="btn btn-primary">Add Problem</a>
            </div>
        </div>
        <br />
        <div>
            @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(c => c.Id).Titled("ID");
                columns.Add(c => c.problem.SnoMedCode).Titled("Problem Code").Filterable(true);
                columns.Add(c => c.OnsetDate).Titled("OnSet Date").Format("{0:dd-MMM-yyyy}");
            }).WithPaging(10).Sortable(true)
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        $("#addPatientProblemBtnHolder").click(function () {
            $.get('/Patient/AddPatientProblem/@this.ViewContext.RouteData.Values["id"]', function (template) {
                $("#addPatientProblemBtnHolder").hide();
                $("#createPatientProblemHolder").append(template);
            });
        });
    });
</script>
