@model IEnumerable<Nivarc.Models.patientmedication>
@using GridMvc.Html
    <div>
        <ol class="breadcrumb">
            <li><a href="../">Home</a></li>
            <li class="active">E.H.R</li>
        </ol>
        <legend>Patient Medication</legend>
        <div class="form-actions no-color">
            <div class="controls">
                <a href="#" id="addmedication" class="btn btn-primary">Add Medication</a>
                @*@using (Ajax.BeginForm("AddMedication", "Patient", null , new AjaxOptions { UpdateTargetId = "_PatientMedicationCreate" }))
                {
                    <button type="submit">Add Medication</button>
                }*@
            </div>
        </div>
        <div>
            @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(c => c.Id).Titled("ID");
                columns.Add(c => c.medication.Name).Titled("Medication Name").Filterable(true);
                columns.Add(c => c.medication.Brand).Titled("Brand").Filterable(true);
                columns.Add(c => c.medication.Strength).Titled("Strength").Filterable(true);
                columns.Add(c => c.prescription.Dosage).Titled("Dosage").RenderValueAs(c => c.prescription != null ? c.prescription.Dosage : string.Empty).Filterable(true);
                columns.Add(c => c.prescription.dosageunittype.Description).Titled("Dosage Unit").RenderValueAs(c => c.prescription != null ? c.prescription.dosageunittype.Description : string.Empty);
                columns.Add(c => c.prescription.visit.medicalprovider.FirstName).Titled("Prescribed By").RenderValueAs(c => c.prescription != null ? c.prescription.visit.medicalprovider.FirstName : string.Empty);
            }).WithPaging(10).Sortable(true)
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        $("#addmedication").click(function () {
            $.get('/Patient/AddPatientMedication/@this.ViewContext.RouteData.Values["id"]', function (template) {
                $("#patientmedicationHolder").hide();
                $("#editPatientMedicationHolder").append(template);
            });
        });
    });
</script>

